/* PC */
@media screen and (min-width: 992px) {
  header {
    background-color: rgb(255 255 255 / 30%);
    backdrop-filter: blur(10px);
    position: sticky;
    top: 1px;
    z-index: 1;
  }
  .menu-drawer {
    display: none;
  }

  .service {
    margin-top: 200px;
  }

  .reviews__button-tabmb {
    display: none;
  }
}

/* Tablet & Mobile */
@media screen and (max-width: 991.98px) {
  .header {
    backdrop-filter: blur(0);
    background-color: transparent;
    background-color: #fffaf5;
    position: static;
    top: 0;
  }

  marquee {
    display: none;
  }

  .navbar {
    display: none;
  }

  .menu_mbtb {
    width: 30px;
    height: 30px;
  }

  .header {
    z-index: 1;
  }

  .menu-overlay {
    display: block;
    position: fixed;
    inset: 0;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    z-index: 4;
  }

  .menu-drawer {
    padding: 60px;
    position: fixed;
    inset: 0 40% 0 0;
    background-color: #fff;
    min-height: 100vh;
    transform: translateX(-100%);
    transition: all 0.3s ease-in-out;
    z-index: 5;
  }

  .menu-drawer,
  .menu-overlay {
    top: 0px;
  }

  .menu-checkbox:checked ~ .menu-overlay {
    opacity: 1;
    visibility: visible;
  }

  .menu-checkbox:checked ~ .menu-drawer {
    transform: translateX(0);
  }

  .navbar__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
  }

  .navbar__item a {
    font-weight: 600;
  }

  .hero__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .hero__list {
    top: 0;
    left: -110px;
    bottom: inherit;
    width: 200px;
  }

  .hero__decor-03 {
    display: none;
  }

  .hero__media img {
    opacity: 0.8;
  }

  .hero__content {
    position: absolute;
    top: 50%;
    margin: 0 auto;
  }

  .hero__heading,
  .hero__desc {
    margin: 0 auto;
    max-width: none;
    width: min(900px, 100%);
    text-align: center;
  }

  .hero__container-btn {
    justify-content: center;
    gap: 20px;
  }

  .about__img-wrapper {
    display: none;
  }

  .about__content:first-child {
    position: relative;
  }

  .about__card {
    /* display: none; */
    position: absolute;
    left: 466px;
    top: -200px;
  }

  .about {
    margin-top: 300px;
    /* padding-right: 40px; */
  }

  .about__media-bottom {
    display: none;
    padding: 0px 20px;
  }

  .about__inner {
    /* padding: 20px; */
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 50px;
  }

  .about__content {
    position: relative;
  }

  .tab {
    padding-right: 20px;
  }

  .section-desc,
  .about__desc,
  .hero__desc,
  .tab__content-desc {
    max-width: none;
  }

  .service__img {
    display: none;
  }

  .service__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "tt1 tt2"
      "tt3 tt4"
      "tt5 tt6";
    justify-items: center;
  }

  .service__button {
    margin-top: 80px;
  }

  .rates__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    justify-items: center;
    row-gap: 40px;
  }

  .rates__decor {
    display: none;
  }

  .section-heading {
    font-size: 4.2rem;
  }

  .pricing {
    /* width: 100%; */
  }

  .pricing__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }

  .header {
    position: sticky;
    top: 3px;
    background-color: rgb(255 246 237 / 20%);
    backdrop-filter: blur(10px);
  }

  .container {
    width: 100%;
  }

  .pricing__list-small-item {
    display: flex;
    align-items: center;
  }

  .reviews__image {
    display: none;
  }
  .reviews__writter {
    margin-left: 30px;
  }

  .reviews__button-tabmb {
    display: flex;
    justify-self: center;
    align-items: center;
    gap: 50px;
    margin-top: 40px;
  }

  .reviews .reviews__inner .reviews__button {
    display: none;
  }

  .reviews__desc {
    text-align: left;
  }

  .reviews {
    margin-top: -50px;
  }

  .blog__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .footer {
    width: 100%;
    display: inline;
  }

  .footer__left {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
  }

  .footer__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }
  /* ==================== TABLET-Mobile============ */
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .menu-drawer .header-action {
    display: none;
  }

  .menu-drawer {
    right: 50%;
  }

  .service {
    margin-top: 100px;
  }

  /* .hero__container-btn {
    margin-top: 150px;
  } */

  .hero__content {
    margin-top: 150px;
  }

  .about {
    margin-top: 300px;
  }

  .hero__desc {
    font-size: 2.4rem;
  }

  .pricing__sale-0ff {
    position: absolute;
    top: 0;
    left: 500px;
  }

  .about__label {
    margin-top: 100px;
  }
}

/* Mobile */
@media screen and (max-width: 767.98px) {
  .header .header-action {
    display: none;
  }

  main {
    width: 100%;
  }

  .menu-drawer {
    padding: 25px;
  }

  .menu-drawer,
  .menu-overlay {
    top: 0px;
  }

  .header__inner {
    justify-content: flex-start;
  }

  .header__inner img {
    display: inline-block;
    margin-left: 43%;
    transform: translate(-50%, 0%);
  }

  .header-action {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    padding-left: 20px;
  }

  .header-action::before {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #ccc;
  }

  .header-action a {
    color: #5e6085;
    font-size: 1.4rem;
    font-weight: 800;
    letter-spacing: 2px;
  }

  .section-heading {
    font-size: 4.7rem;
  }

  .about__heading-bottom,
  .tab__list,
  .about__heading {
    max-width: 380px;
  }

  .tab__list {
    gap: 10px;
  }

  .tab__item {
    gap: 3px;
    font-size: 1.6rem;
  }

  .tab__list::after {
    width: 370px;
  }

  .header-action__btn {
    border: none;
    text-align: left;
    margin-top: -20px;
    font-weight: normal;
  }

  .hero__inner {
    padding: 0 20px;
  }

  .hero__media .hero__img {
    display: inline-block;
    width: 258px;
    height: 325px;
  }

  .hero__list {
    top: -54px;
    left: -125px;
  }

  .hero__container-btn {
    transform: translate(-10%, 0);
  }

  .hero__container-btn {
    margin-top: 30px;
    margin-left: 20%;
  }

  .about__checklist {
    display: flex;
    flex-direction: column;
  }

  .about__card {
    position: absolute;
    left: 120px;
    top: -275px;
    scale: 0.8;
  }

  .service__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .service {
    margin-top: 100px;
  }

  .rates__list {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .rates__button {
    margin-top: 80px;
  }

  .pricing__desc {
    width: auto;
  }

  .pricing__list {
    /* display: grid;
    grid-template-columns: 1fr; */
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    /* width: 500px; */
  }

  .pricing__item {
    flex-grow: 0.5;
    flex-basis: 180px;
    flex-shrink: 0;
  }

  .pricing__sale-0ff {
    position: absolute;
    top: -45px;
    left: 285px;
    scale: 0.8;
  }
  .blog {
    margin-top: -40px;
  }

  .blog__list {
    display: flex;
    flex-direction: column;
  }

  .footer__left {
    padding: 114px 100px;
  }

  .footer__right {
    padding-left: 150px;
    gap: 10px;
  }

  .footer__item:last-child {
    margin-top: -50px;
  }

  .footer__list {
    display: flex;
    flex-direction: column;
  }

  .footer__list-media .footer__item:last-child {
    margin-top: 0px;
  }

  .footer__mark {
    text-align: left;
    margin-left: -90px;
    /* padding: 10px 0; */
    margin-bottom: 20px;
  }
}
